@import '../../mixins';
@import '../../variables';

.section {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
	background-position: center;
	background-size: cover;
	background-image: linear-gradient(
			0deg,
			rgba(0, 0, 0, 0.5),
			rgba(0, 0, 0, 0.5)
		),
		url(../../assets/img/home.png);
}
.title {
	font-style: normal;
	font-weight: 800;
	font-size: 80px;
	line-height: 54px;
	text-align: center;
	color: $text-color;
	// margin-left: 40px;
	// margin-right: 40px;
	box-shadow: #a2e248;
	@media screen and (min-width: $tablet){
		font-size: 150px;
		margin-top: 100px;
	}
	@media screen and (min-width: $desktop) {
		
		font-size: 250px;
		line-height: 180px;
		align-content: center;
		justify-content: center;
		// width: 120px;
	}
}
.text {
display: flex;

	font-weight: 400;
	font-size: 18px;
	line-height: 32px;
	text-align: center;
	color: $text-color;
	margin-top: 10px;
	@include media('tablet') {
		// margin: 0 122px;
		font-size: 40px;
		line-height: 48px;
	}
	
	@include media('desktop') {
		// width: 600px;
		// justify-content: space-around;
		// align-items: center;

font-size: 20px;
line-height: 40px;
	}
}
.button {
	margin: 0 auto;
	display: flex;
	align-items: center;
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 25px;
	text-align: center;
	color: #ffffff;
	background-color: $main;
	border: none;
	border-radius: 5px;
	padding: 16px 32px;
	margin-top: 24px;
	gap: 8px;
	cursor: pointer;
	transition: all 300ms ease-in-out;
	&:hover,
	&:focus {
		background-color: #8d938f;
	}
}

.text_container {
max-width: 1300px;
}

.text_list {
	display: flex;
justify-content: space-around;}
